<mat-spinner style="margin:0 auto;" *ngIf="uploadedXmlTimelineData === null; else dataReady"></mat-spinner>

<ng-template #dataReady>
    <div>
        <mat-sidenav-container>
            <mat-sidenav #sidenav mode="side" opened="false" position="end">
                <button id="close-sidenav-button" mat-raised-button color="accent"
                    (click)="sidenav.close()">Close
                </button>
                
                <h4>Details</h4>
                <hr class="solid">
                <p>Element details goes here</p>
                <button mat-icon-button color="primary" aria-label="Download icon" matTooltip="Download file">
                    <mat-icon class="icon-display">cloud_download</mat-icon>
                </button>
            </mat-sidenav>

            <mat-sidenav-content>
                <button mat-raised-button (click)="sidenav.toggle()" color="accent">Close</button>
                <div id="timeline-page-wrapper">
                    <div id="time-range-info">
                        <h4>Time range</h4> {{start}} ⏤ {{end}}
                    </div>
                    <div id="timelines-wrapper">
                        <app-single-timeline [timelineData]="uploadedXmlTimelineData"> <!-- [apiResponse]="uploadedXmlsResponse" [data]="uploadedXmls" -->
                        </app-single-timeline>
                    </div>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</ng-template>