.uploaded-xml-image {
    background-image: url("../../../assets/svg/icons/xml.svg");
    background-size: cover;
}

.example-card {
    width: 200px;
    max-width: 200px;
    box-sizing: border-box;
    margin: 10px;
}

.cards-wrapper {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: left;
    align-content: left;
    overflow: auto;
}

.mat-card-title {
    font-size: 15px;
}

.icon-display {
    transform: scale(1.1);
}

#timelines-wrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: left;
    align-content: left;
    overflow: auto;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

#time-range-info {
    align-self: center;
    text-align: center;
    box-sizing: content-box;
    border: solid rgb(19, 143, 222);
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    padding: 5px;
}

#timeline-section{
    flex: auto;
    display: flex;
    flex-direction: column;
}

h4 {
    text-align: center;
}

.mat-column-select {
    overflow: initial;
}

#close-sidenav-button {
    width: 100%;
}