.mat-form-field {
    font-size: 14px;
    width: 100%;
}

h4 {
    text-align: center;
}

.close-sidenav-button {
    width: 100%;
}

#timeline-page-wrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: start;
}

#close-left-sidenav-button {
    margin-bottom: 10px;
}

.timeline-section {
    margin-bottom: 20px;
}

.element-preview {
    overflow-y: scroll;
}

#download-related-element-button {
    margin-bottom: 20px;
}

#timelines-wrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.section-title {
    text-align: center;
}

[hidden] {
    display: none !important;
}
