.mat-form-field {
    font-size: 14px;
    width: 100%;
}

h4 {
    text-align: center;
}

.close-sidenav-button {
    width: 100%;
}

#timeline-page-wrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
}

#close-left-sidenav-button {
    margin-bottom: 10px;
}
