<mat-spinner style="margin:0 auto;" *ngIf="uploadedXmlTimelineData === null; else dataReady"></mat-spinner>

<ng-template #dataReady>
    <div>
        <mat-sidenav-container>
            <mat-sidenav #sidenav mode="side" opened="false" position="end">
                <button id="close-sidenav-button" mat-raised-button color="accent" (click)="sidenav.close()">Close
                </button>

                <h4>Details</h4>
                <hr class="solid">

                <div *ngIf="details !== undefined && details !== null">
                    <p><b>Timestamp</b> {{details[0]['Value']}}</p>
                    <p><b>PN</b> {{details[1]['Value']}}</p>
                    <p><b>SN</b> {{details[2]['Value']}}</p>
                    <p><b>Topic</b> {{details[6]['Value']}}</p>
                    <button mat-icon-button color="primary" aria-label="Download icon" matTooltip="Download file" 
                            (click)="downloadFile(details[4]['Value'], details[3]['Value'], details[5]['Value'])">
                        <mat-icon class="icon-display">cloud_download</mat-icon>
                    </button>
                </div>
            </mat-sidenav>

            <mat-sidenav-content>
                <div id="timeline-page-wrapper">
                    <div id="timelines-wrapper">
                        <app-single-timeline [timelineData]="uploadedXmlTimelineData">
                            <!-- [apiResponse]="uploadedXmlsResponse" [data]="uploadedXmls" -->
                        </app-single-timeline>
                    </div>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</ng-template>