<form [formGroup]="timeRangeFormGroup" class="mat-form-field--inline">
    <h2>Time range</h2>

    <!-- <label>Select a time range type:</label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        formControlName="typeOfDate" color="primary">
        <mat-radio-button *ngFor="let rangeType of rangeTypes" [value]="rangeType">
            {{rangeType}}
        </mat-radio-button>
    </mat-radio-group>

    <div *ngIf="isRelativeTime(); else notShow">
        <p>
            In if
        </p>
    </div>
    <ng-template #notShow>
        <p>
            In esle
        </p>
    </ng-template> -->

    <!-- <mat-form-field appearance="outline">
        <input matInput readonly [matDatepicker]="picker" placeholder="Date you are interested in"
            formControlName="myDate" (dateChange)="date($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="errorHandling('myDate', 'required')">
            Please enter <strong>a date to see data from</strong>
        </mat-error>
    </mat-form-field> -->


    <div class="input-wrapper">
        <label> </label>
        <input formControlName="myDate" [selectMode]="'range'" [owlDateTimeTrigger]="dtPicker" [owlDateTime]="dtPicker"
            [min]="minDate" [max]="maxDate">
        <owl-date-time #dtPicker></owl-date-time>

        <mat-icon>date_range</mat-icon>
        <!-- <mat-error *ngIf="errorHandling('myDate', 'required')">
            Please enter <strong>a date range</strong> to see data from then
        </mat-error> -->
    </div>

</form>