<form [formGroup]="formGroup" class="mat-form-field--inline">
    <h2>Time range</h2>

    <div id="time-type">
        <mat-radio-group formControlName="typeOfDate" aria-label="Select an option" color="primary">
            <mat-radio-button value="relative">Relative</mat-radio-button>
            <mat-radio-button value="absolute">Absolute</mat-radio-button>
        </mat-radio-group>
    </div>

    <p *ngIf="isRelativeTime(); else notShow">
        TODO Display relative selector time
    </p>

    <ng-template #notShow>
        <div class="input-wrapper">
            <label> </label>
            <input formControlName="myDate" [selectMode]="'range'" [owlDateTimeTrigger]="dtPicker"
                [owlDateTime]="dtPicker" [min]="minDate" [max]="maxDate">
            <owl-date-time #dtPicker></owl-date-time>

            <mat-icon>date_range</mat-icon>
            <!-- 
            <mat-error *ngIf="errorHandling('myDate', 'required')">
            Please enter <strong>a date range</strong> to see data from then
            </mat-error> 
            -->
        </div>
    </ng-template>


    <!-- <mat-form-field appearance="outline">
        <input matInput readonly [matDatepicker]="picker" placeholder="Date you are interested in"
            formControlName="myDate" (dateChange)="date($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="errorHandling('myDate', 'required')">
            Please enter <strong>a date to see data from</strong>
        </mat-error>
    </mat-form-field> -->
</form>