.mat-form-field--inline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-form-field {
    margin-right: 10px;
}

#time-type {
    margin-bottom: 20px;
}

#relative-time-value {
    margin-right: 20px;
} 

#relative-time {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 20px;
} */