#form {
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
}

#main-block {
    width: 20%;
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;  
    justify-content: center;
}