<form [formGroup]="myForm" novalidate (submit)="submitForm()" #myform="ngForm">
    <h2>Data types</h2>

    <mat-form-field appearance="outline">
        <mat-label>Data to display</mat-label>
        <mat-select ngDefaultControl multiple formControlName="dataTypes" panelOpen="True">
            <mat-optgroup *ngFor="let group of dataGroups" [label]="group.name" [disabled]="group.disabled">
                <mat-option *ngFor="let d of group.data" [value]="d.value">
                    {{d.viewValue}}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary"> Apply</button>
</form>