<div class="box">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Data types</mat-label>
      <mat-select (selectionChange)="onElementChange($event)" [formControl]="elementsControl" multiple>
        <mat-select-trigger>
          {{elementsControl.value ? elementsControl.value[0] : ''}}
          <span *ngIf="elementsControl.value?.length > 1" class="example-additional-selection">
            (+{{elementsControl.value.length - 1}} {{elementsControl.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let element of this.initialSelectedValues" [value]="element">{{element}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!--  <div>
      <button (click)="applyFilter($event)" mat-raised-button color="primary"> Apply</button>
    </div> -->
</div>