<div *ngIf="!this.showTimeline; else timelineBlock">
    <app-timeline-parameters (formSubmited)="onFormSubmited($event)"></app-timeline-parameters>
</div>

<ng-template #timelineBlock>
    <div id="back-button-and-time-range">
        <button id="back-button" mat-raised-button color="primary" (click)="this.hideTimeline()" [routerLink]="['/timeline-page-wrapper']">
            <mat-icon>arrow_left</mat-icon> Back to main page
        </button>

        <div id="time-range-info">
            <b>Time range</b> {{start}} ⏤ {{end}}
        </div>

    </div>

    <app-timeline-data></app-timeline-data>
</ng-template>