.mat-form-field--inline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.mat-accordion {
    padding-bottom: 30px;
    width: 500px;
}

.mat-form-field {
    padding-bottom: 30px;
    width: 500px;
}