<form [formGroup]="myForm" novalidate (submit)="submitForm()" class="mat-form-field--inline" #myform="ngForm">
    <h2>Printer information</h2>

    <mat-form-field appearance="outline">
        <mat-label>Printer Number (PN)</mat-label>
        <input matInput formControlName="PnControl">
        <!-- <mat-error *ngIf="errorHandling('PnControl', 'required')">
            You must provide a <strong>Printer Number (PN)</strong>
        </mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Serial Number (SN)</mat-label>
        <input matInput formControlName="SnControl">
       <!--  <mat-error *ngIf="errorHandling('SnControl', 'required')">
            You must provide a <strong>Serial Number (SN)</strong>
        </mat-error> -->
    </mat-form-field>

    <h2>Data types</h2>

    <mat-form-field appearance="outline">
        <mat-label>Data to display</mat-label>
        <mat-select multiple formControlName="dataTypes" panelOpen="True">
            <mat-optgroup *ngFor="let group of dataGroups" [label]="group.name" [disabled]="group.disabled">
                <mat-option *ngFor="let d of group.data" [value]="d.value">
                    {{d.viewValue}}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>   

    <app-time-range-selector></app-time-range-selector>

    <button mat-flat-button color="primary">Next</button>
</form> 