h4 {
    text-align: center;
}

.timeline-element-image {
    background-image: url("../../../assets/svg/icons/xml.svg");
    background-size: cover;
}

.example-card {
    width: 200px;
    max-width: 200px;
    box-sizing: border-box;
    margin: 10px;
}

.cards-wrapper {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: left;
    align-content: left;
    overflow: scroll;
    height: 100%; //TODO
}

@media only screen and (max-width: 800px) {
    .cards-wrapper {
        flex-direction: column;
    }
}

.mat-card-title {
    font-size: 15px;
}

.icon-display {
    transform: scale(1.5);
}

#timelines-wrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: left;
    align-content: left;
    overflow: scroll;
}

table {
    width: 100%;
    box-shadow: 0px !important; //TODO not working disable shadow
}

#card-content {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: left;
    align-content: left;
}
