<div id="uploaded-xmls">
    <mat-accordion>
        <mat-expansion-panel #uploadedXmlPanel open="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Uploaded OpenXMLs summary table
                </mat-panel-title>
                <mat-panel-description>
                    Click me!
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="mat-elevation-z8">
                <p style="text-align: center;"><b>{{resultsLength}}</b>  Printers sent OpenXML files in the selected time range</p>
                <mat-form-field>
                    <mat-label>Filter table rows</mat-label>
                    <input matInput (keyup)="applyFilter($event)"
                        placeholder="Ex. K4G10A!SG58P1R001" #input>
                </mat-form-field>

                <table mat-table [dataSource]="tableDataSource" class="mat-elevation-z8 summary-table">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()"
                                matTooltip="Select/unselect all table rows"
                                matTooltipPosition="above">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="pn!sn">
                        <th mat-header-cell *matHeaderCellDef> Pn!Sn</th>
                        <td mat-cell *matCellDef="let element"> {{element['pn!sn']}} </td>
                    </ng-container>

                    <ng-container matColumnDef="count">
                        <th mat-header-cell *matHeaderCellDef> Count </th>
                        <td mat-cell *matCellDef="let element"> {{element['count']}} </td>
                    </ng-container>

                    <ng-container matColumnDef="%">
                        <th mat-header-cell *matHeaderCellDef> % </th>
                        <td mat-cell *matCellDef="let element"> {{element['%']}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>

            <mat-action-row>
                <button mat-raised-button color="accent"
                    (click)="uploadedXmlPanel.close()">Close panel
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

    <p>Found {{data.length}} Uploaded OpenXMLs:</p>

    <div id="uploaded-xmls-list">
        <div class="cards-wrapper">
            <mat-card class="example-card" *ngFor="let xml of data; let i = index">
                <!-- <mat-card class="example-card" *ngFor="let xml of this.selection.selected; let i = index"> -->
                <mat-card-header>
                    <div mat-card-avatar class="uploaded-xml-image"></div>
                    <mat-card-title>{{data[i][0]['Value']}}</mat-card-title>
                    <mat-card-subtitle>#{{i}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p><b>PN</b> {{data[i][1]['Value']}}</p>
                    <p><b>SN</b> {{data[i][2]['Value']}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-icon-button color="primary" aria-label="Download icon"
                        matTooltip="Preview file">
                        <mat-icon class="icon-display">preview</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" aria-label="Download icon"
                        matTooltip="Download file">
                        <mat-icon class="icon-display">cloud_download</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>