<div id="single-timeline">
    <mat-accordion>
        <mat-expansion-panel #detailsPanel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{timelineData?.elementName}} summary table
                </mat-panel-title>
                <mat-panel-description>
                    Click me!
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div>
                <p style="text-align: center;"><b>{{tableLength}}</b> {{timelineData?.tableDescription}}</p>
                <mat-form-field>
                    <mat-label>Filter table rows</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. K4G10A!SG58P1R001" #input>
                </mat-form-field>

                <table mat-table [dataSource]="tableDataSource" class="mat-elevation-z1">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()" matTooltip="Select/unselect all table rows"
                                matTooltipPosition="above">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="pn!sn">
                        <th mat-header-cell *matHeaderCellDef> Pn!Sn</th>
                        <td mat-cell *matCellDef="let element"> {{element['pn!sn']}} </td>
                    </ng-container>

                    <ng-container matColumnDef="count">
                        <th mat-header-cell *matHeaderCellDef> Count </th>
                        <td mat-cell *matCellDef="let element"> {{element['count']}} </td>
                    </ng-container>

                    <ng-container matColumnDef="%">
                        <th mat-header-cell *matHeaderCellDef> % </th>
                        <td mat-cell *matCellDef="let element"> {{element['%']}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [length]="tableLength" [pageSize]="5" [pageSizeOptions]="[5,10, 20, 50, 100]"
                    showFirstLastButtons>
                </mat-paginator>
            </div>

            <mat-action-row>
                <button mat-raised-button color="primary" (click)="filterSelectedItems()">Apply checkboxes
                    filter</button>
                <button mat-raised-button color="accent" (click)="detailsPanel.close()">Hide table</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate" color="primary"> </mat-progress-bar>

    <p>Found {{timelineData?.apiResponse['Results'].length}} {{timelineData?.elementName}}s in total (showing
        {{selectedData.length}} elements):</p>

    <div id="single-timeline-list">
        <div class="cards-wrapper">
            <div *ngFor="let element of selectedData; let i = index">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <button mat-icon-button color="primary" aria-label="Show details" matTooltip="Show details"
                                (click)="this.showDetails(element)">
                                <div [ngSwitch]="timelineData?.elementName">
                                    <mat-icon *ngSwitchCase="elementType.OpenXml" svgIcon="xml" class="icon-display">
                                    </mat-icon>
                                </div>
                            </button>
                        </div>
                        <!-- TODO: idea: add some separator when whe change of minute to have a nice view  -->
                        <!-- TODO: when the hour of the current element is different to the previous, show the hour of the first one with 
                        the new hour -->
                        <mat-card-title>{{ stringDateToDateObject(element[0]['Value']).toISOString().slice(11, -1) }}
                        </mat-card-title>
                        <mat-card-subtitle>#{{i}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div id="card-content">
                            <p><b>PN</b> {{element[1]['Value']}}</p>
                            <p><b>SN</b> {{element[2]['Value']}}</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>