h4 {
    text-align: center;
}

.example-card {
    width: 200px;
    max-width: 200px;
    box-sizing: border-box;
    margin: 10px;
}

.cards-wrapper {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: left;
    align-content: left;
    overflow-x: scroll;
    height: 100%;
}

@media only screen and (max-width: 800px) {
    .cards-wrapper {
        flex-direction: column;
    }
}

.mat-card-title {
    font-size: 15px;
}

.icon-display {
    transform: scale(1.5);
}

table {
    width: 100%;
}

#card-content {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: left;
    align-content: left;
}

.table-summary {
    text-align: center;
}

#single-timeline-list {
    overflow-x: scroll;
    height: 100%;
}