//this file defines custom material theme for the webpage
@import "~@angular/material/theming";
@include mat-core();

$my-app-primary: mat-palette($mat-light-blue, 600);
$my-app-accent: mat-palette($mat-yellow, 600);
$my-app-warn: mat-palette($mat-deep-orange, 600);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

.alternate-theme {
  $alternate-primary: mat-palette($mat-blue-grey);
  $alternate-accent: mat-palette($mat-pink, 500, 900, A100);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

form {
  width: 420px;
  margin: 35px auto 100px;
  display: block;
  float: none;
}

.mat-form-field {
  width: 100%;
}

.misc-bottom-padding {
  margin: 8px 0 20px;
}

.misc-bottom-padding mat-label {
  margin-right: 15px;
}

.mat-radio-label {
  margin: 0 15px 0 0;
}

.title-center {
  margin: 0 auto;
}

.button-wrapper {
  margin-top: 10px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
